<section id="contact" class="relative w-full h-auto my-32">
  <div class="max-w-3xl mx-auto w-full h-full flex flex-col gap-6 px-6">
    <div class="flex flex-col items-center mx-auto gap-2">
      <h1 class="text-center px-2 py-1 rounded-lg bg-text-500 text-background-500">Contact</h1>
      <h2 class="text-center text-5xl font-bold">Get in touch</h2>
      <h3 class="font-medium text-center text-xl">DM me in <a href="https://x.com/van_irvan678" class="relative font-bold group hover:text-blue-600 transition-colors duration-300"><span>Twitter</span><div class="absolute bottom-0 left-0 w-full h-px bg-text-500 group-hover:h-full transition-all duration-300 -z-10"></div></a> or <a href="https://bsky.app/profile/vanirvan.bsky.social" class="relative font-bold group hover:text-blue-600 transition-colors duration-300"><span>Bluesky</span>
      <div class="absolute bottom-0 left-0 w-full h-px bg-text-500 group-hover:h-full transition-all duration-300 -z-10"></div></a> is the easiest way to contact me since i mostly active using both platform.</h3>
    </div>
</section>